@page

<div class="row">
    <div class="col">
        <img src="img/1400x400.png" class="img-fluid" alt="banner image">
    </div>
</div>

<div class="row mt-5">
    <div class="col">
        <div class="text-center">
            <figure class="figure">
                <img src="img/200x200.png" class="rounded img-fluid">
                <figcaption class="figure-caption text-end">A caption</figcaption>
            </figure>
        </div>
    </div>
    <div class="col">
        <img src="img/200x200.png" class="rounded img-fluid float-end">
    </div>
</div>